@model Mygev.Models.EventoConteudo

@{
    ViewData["Title"] = "Edit";
}
    <style>
        body {
            background-color: #B0C4DE;
        }
    </style>

<h4>Editar Conteudo do Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <input asp-for="Conteudo" class="form-control" />
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDEvento" class="control-label"></label>
                <input asp-for="IDEvento" class="form-control" readonly value="@ViewBag.IDEvento" />
            </div>
            <div class="form-group">
                <label asp-for="IDUser" class="control-label"></label>
                <input asp-for="IDUser" class="form-control" readonly value="@ViewBag.IDUser" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-dark btn" asp-controller="Evento" asp-action="Details" asp-route-id="@ViewBag.IDEvento">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
