@model Mygev.Models.EventoUtilizadores

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EventoUtilizadores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nome do Evento</label>
                <input class="form-control" readonly value="@ViewBag.Evento" />

                <label class="">PASSWORD</label>
                <input type="text" name="passEvento">
                @if(ViewBag.pass == "Falhou"){
                 <p>Palavra-pass Errada</p>
                }
            </div>

            <div class="form-group">
                <p>Tem a certeza que deseja participar</p>
                    <a asp-controller="Evento" asp-action="Details" asp-route-id="@ViewBag.id">
                    
                <input type="submit" value="Sim" class="btn btn-primary"/></a>
                    <a asp-controller="Evento" asp-action="Details" asp-route-id="@ViewBag.id">Voltar a Trás</a>
</div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
