@*

*@
@{
}
<style>
    body {
        background-color: #B0C4DE;
    }
</style>

<div class="container">

    <h1>About Us</h1>
    <p>Projeto alojado em: https://github.com/JoaquimInGit/Mygev </p>
    <div class="row">
        <div class="col-sm-3">
            <div class="card-columns">
                <div class="card bg-light" style="width: 15rem;">
                    <img src="~/Imagens/LogosEventos/logoDefault.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Ricardo Vieira - 20077</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Instituto Politecnico de Tomar</li>
                        <li class="list-group-item">Escola Superior de Tecnologia Tomar</li>
                        <li class="list-group-item">Licenciatura Engenharia Informática</li>
                        <li class="list-group-item">Tecnologias Internet II - 2019/2020</li>
                        <li class="list-group-item">Contacto: RV@example.com</li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
        <div class="col-sm-3">
            <div class="card-columns">
                <div class="card bg-light" style="width: 15rem;">
                    <img src="~/Imagens/LogosEventos/logoDefault.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Joaquim Tomás - 21214</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Instituto Politecnico de Tomar</li>
                        <li class="list-group-item">Escola Superior de Tecnologia Tomar</li>
                        <li class="list-group-item">Licenciatura Engenharia Informática</li>
                        <li class="list-group-item">Tecnologias Internet II - 2019/2020</li>                       
                        <li class="list-group-item">Contacto: JT@example.com</li>
                        
                    </ul>
                </div>
            </div>
            <br />
        </div>

    </div>
</div>

